.btn {
  background-color: $blue;
  display: inline-block;
  color: white;
  padding: $s-size;
  border: none;
  font-size: $f-s-l;
  font-weight: 300;
  text-decoration: none;
  line-height: 1;
}

.btn--link {
  background: none;
}

.btn--remove {
  background-color: #888;
  margin-bottom: $m-size;
}
